:root
{
    color-scheme: light;

    --headerHeight: 50px;
    --footerHeight: 50px;

    // Palette

    --primaryColor: #305263;
    --primaryBg: #bfced5;

    --stroke: theme('colors.neutral.300');
}